<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkc.library.mapper.BookMapper">
    
    <select id="getByName" resultType="com.wkc.library.entity.Book">
        select * from book where book_name = #{name}
    </select>
    
    <insert id="insertBook" parameterType="com.wkc.library.entity.Book">
        insert into book(book_name,book_public,book_author) values(#{book.bookName},#{book.bookPublic},#{book.bookAuthor})
    </insert>

</mapper>