<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkc.library.mapper.BookScoreMapper">
    
    <insert id="insetScore" parameterType="com.wkc.library.entity.BookScore">
        insert into book_score (user_id,book_id,score) values (#{bookScore.userId},#{bookScore.bookId},#{bookScore.score})
    </insert>
    <select id="getAll" resultType="com.wkc.library.entity.BookScore">
        select * from book_score
    </select>
</mapper>